{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}",
  "founder": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  }
}
</script>
{{- else if and (.IsPage) (eq .Section "writings") -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ .Params.summary }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{- else if and (.IsPage) (eq .Section "book") -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Chapter",
  "name": "{{ .Title }}",
  {{- with .Params.chapter_num }}
  "position": "{{ . }}",
  {{- end }}
  "isPartOf": {
    "@type": "Book",
    "name": "Abiding and Fruitfulness: Holiness Planning as the Path of Renewal",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}"
    },
    "url": "{{ (site.GetPage "book").Permalink }}"
  }
}
</script>
{{- else if and (.IsNode) (eq .Section "book") -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "name": "Abiding and Fruitfulness: Holiness Planning as the Path of Renewal",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "url": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}"
  }
}
</script>
{{- end -}}
